
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family:  Helvetica, Arial,sans-serif
    
    
    
body 
    background-color: #000

@import "components/navbar"

header
    margin-bottom: -1.5%

.containergrid
  display: grid
  grid-template-columns: 31dvw auto
  height: 88dvh
  gap: 0.5%
  padding: 0% 0.5% 0% 0.5%
  &_item
    background-color:  #1f1f1f 
    border-radius: 10px

@import "components/aside"

@import "components/content"
  

    
