* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #000;
  overflow: hidden;
  position: relative;
}

nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 1%;
  margin-top: 0.5%;
  margin-bottom: 0.2%;
  height: 72px;
  position: relative;
}
nav .containerLogo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 72px;
  height: 32px;
  margin-top: 8px;
  cursor: pointer;
}
@media (max-width: 500px) {
  nav .containerLogo {
    width: 50dvw;
    height: 32px;
    align-items: center;
    justify-content: flex-start;
    padding: 3%;
    gap: 4%;
  }
}
nav .containerLogo_Logo {
  width: 32px;
  height: 32px;
}
nav .containerLogo_span {
  display: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}
@media (max-width: 500px) {
  nav .containerLogo_span {
    display: inline-block;
  }
}
nav .containerHomeSrchbar {
  display: flex;
  align-items: center;
  gap: 1.5%;
  width: 40dvw;
}
@media (max-width: 1250px) {
  nav .containerHomeSrchbar {
    width: 30dvw;
  }
}
@media (max-width: 1062px) {
  nav .containerHomeSrchbar {
    width: 25dvw;
  }
}
@media (max-width: 876px) {
  nav .containerHomeSrchbar {
    width: 5dvw;
  }
}
nav .containerHomeSrchbar_homebtn {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  aspect-ratio: 1/1;
  color: rgba(234, 248, 239, 0.5607843137);
  aspect-ratio: 1/1;
}
@media (max-width: 500px) {
  nav .containerHomeSrchbar_homebtn {
    display: none;
  }
}
nav .containerHomeSrchbar_homebtn:hover {
  background-color: rgba(73, 73, 73, 0.6235294118);
  color: #fff;
  scale: 1.03;
}
nav .containerHomeSrchbar_homebtn .containersvgHome {
  width: 24px;
  height: 24px;
}
nav .containerHomeSrchbar_homebtn .containersvgHome_svg {
  width: 24px;
  height: 24px;
}
nav .containerHomeSrchbar_searchbar {
  display: flex;
  align-items: center;
  width: 35dvw;
  position: relative;
}
@media (max-width: 1250px) {
  nav .containerHomeSrchbar_searchbar {
    width: 25dvw;
  }
}
@media (max-width: 876px) {
  nav .containerHomeSrchbar_searchbar {
    width: 40px;
  }
}
nav .containerHomeSrchbar_searchbar_btnsrch {
  width: 40px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  position: absolute;
  top: 7%;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media (max-width: 876px) {
  nav .containerHomeSrchbar_searchbar_btnsrch {
    position: static;
    background-color: #1f1f1f;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 48px;
    height: 48px;
    border: none;
  }
}
@media (max-width: 500px) {
  nav .containerHomeSrchbar_searchbar_btnsrch {
    display: none;
  }
}
nav .containerHomeSrchbar_searchbar .containersvgSrch_svg {
  width: 22px;
  height: 22px;
  stroke: rgba(234, 248, 239, 0.5607843137);
  stroke-width: 10px;
  fill: rgba(234, 248, 239, 0.5607843137);
}
nav .containerHomeSrchbar_searchbar .containersvgSrch_svg:hover {
  fill: #fff;
}
nav .containerHomeSrchbar_searchbar_input {
  height: 48px;
  width: 100dvw;
  background-color: #1f1f1f;
  border: 0.1px solid #1f1f1f;
  border-radius: 40px;
  padding: 0px 48px 0px 48px;
  transition: border 0.3s ease, background-color 0.3s ease;
}
nav .containerHomeSrchbar_searchbar_input:hover {
  border: 0.1px solid #fff;
  background-color: rgba(73, 73, 73, 0.6235294118);
}
nav .containerHomeSrchbar_searchbar_input:focus {
  background-color: rgba(73, 73, 73, 0.6235294118);
  color: #fff;
  font-size: 0.95rem;
  font-weight: 550;
}
nav .containerHomeSrchbar_searchbar_input::-moz-placeholder {
  color: rgba(234, 248, 239, 0.5607843137);
  font-size: 0.95rem;
  font-weight: 500;
}
nav .containerHomeSrchbar_searchbar_input::placeholder {
  color: rgba(234, 248, 239, 0.5607843137);
  font-size: 0.95rem;
  font-weight: 500;
}
@media (max-width: 1170px) {
  nav .containerHomeSrchbar_searchbar_input {
    width: 20dvw;
    border-radius: 40px;
  }
}
@media (max-width: 876px) {
  nav .containerHomeSrchbar_searchbar_input {
    display: none;
  }
}
nav .containerHomeSrchbar_searchbar_btnexplore {
  width: 40px;
  height: 40px;
  border: none;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  right: 0;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media (max-width: 876px) {
  nav .containerHomeSrchbar_searchbar_btnexplore {
    display: none;
  }
}
nav .containerHomeSrchbar_searchbar .containersvgExplore {
  width: 24px;
  height: 24px;
  border-left: 1px solid rgba(234, 248, 239, 0.5607843137);
  padding-left: 12px;
}
nav .containerHomeSrchbar_searchbar .containersvgExplore_svg {
  width: 24px;
  height: 24px;
  fill: rgba(234, 248, 239, 0.5607843137);
}
nav .containerHomeSrchbar_searchbar .containersvgExplore_svg:hover {
  fill: #fff;
}
nav .containerBtns1 {
  display: flex;
  align-items: center;
  gap: 6%;
}
@media (max-width: 876px) {
  nav .containerBtns1 {
    display: none;
  }
}
nav .containerBtns1_btn {
  background-color: #000;
  color: rgba(234, 248, 239, 0.5607843137);
  border: none;
  height: 48px;
  font-weight: 600;
  font-size: 0.95rem;
  transition: color 0.3s ease;
  cursor: pointer;
}
nav .containerBtns1_btn:hover {
  color: #fff;
  scale: 1.03;
}
nav .containerSeparator {
  display: flex;
  margin: 0.5% 2.5% 2.5% 2.5%;
  color: #fff;
  font-size: 1.8rem;
}
@media (max-width: 981px) {
  nav .containerSeparator {
    margin: 0.5% 0% 2.5% 1.4%;
  }
}
@media (max-width: 876px) {
  nav .containerSeparator {
    display: none;
  }
}
nav .containerBtns2 {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 6%;
  margin-right: 0.5%;
}
@media (max-width: 1250px) {
  nav .containerBtns2 {
    margin-right: 0%;
  }
}
@media (max-width: 981px) {
  nav .containerBtns2 {
    gap: 2%;
  }
}
@media (max-width: 876px) {
  nav .containerBtns2 {
    position: absolute;
    right: 0;
    gap: 6px;
  }
}
nav .containerBtns2_btn {
  background-color: #000;
  color: rgba(234, 248, 239, 0.5607843137);
  border: none;
  height: 48px;
  font-weight: 550;
  font-size: 0.8rem;
  transition: color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}
nav .containerBtns2_btn:hover {
  color: #fff;
  scale: 1.03;
}
@media (max-width: 876px) {
  nav .containerBtns2_btn {
    gap: 1px;
  }
}
@media (max-width: 525px) {
  nav .containerBtns2_btn {
    display: none;
  }
}
nav .containerBtns2_btn_svg {
  width: 16px;
  height: 16px;
}
nav .containerBtns2_btn--logIn {
  background-color: #fff;
  color: #000;
  border-radius: 60px;
  padding: 15px;
  height: 48px;
  font-weight: 700;
  font-size: 1rem;
}
@media (max-width: 525px) {
  nav .containerBtns2_btn--logIn {
    display: flex;
  }
}
@media (max-width: 500px) {
  nav .containerBtns2_btn--logIn {
    display: none;
  }
}
nav .containerBtns2_btn--logIn:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.9254901961);
}
nav .containerBtns2_menu {
  display: none;
  background-color: #1f1f1f;
  width: 48px;
  height: 48px;
  border: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 525px) {
  nav .containerBtns2_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav .containerBtns2_menu:hover {
  background-color: rgba(234, 248, 239, 0.5607843137);
}
nav .containerBtns2_menu_svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.aside {
  position: relative;
  background-color: #101010;
  min-width: 282px;
}
@media (max-width: 500px) {
  .aside {
    display: none;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 4% 6% 4%;
  height: 15%;
}
.top_span {
  color: #fff;
  font-size: 1.05rem;
  font-weight: 550;
}
.top_btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #101010;
  cursor: pointer;
  padding-left: 0.8%;
}
.top_btn:hover {
  background-color: rgba(51, 51, 51, 0.4666666667);
}
.top_btn_svg {
  width: 18px;
  height: 18px;
  fill: rgba(234, 248, 239, 0.5607843137);
}

.playlist {
  display: flex;
  flex-direction: column;
  height: 35dvh;
  overflow: hidden;
  gap: 8%;
  padding: 2% 0% 2% 2%;
  overflow-y: auto;
}
.playlist:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
}
.playlist::-webkit-scrollbar {
  background-color: transparent;
  width: 0.9dvw;
}
.playlist::-webkit-scrollbar-thumb {
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.playlist::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.363);
}
.playlist_playlist {
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.4666666667);
  display: flex;
  flex-direction: column;
  padding: 4%;
  line-height: 2;
}
.playlist_podcast {
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.4666666667);
  display: flex;
  flex-direction: column;
  padding: 4%;
  line-height: 2;
}
.playlist_h3 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 650;
}
.playlist_span {
  color: #fff;
  font-weight: 550;
  font-size: 0.85rem;
}
.playlist_btn {
  border-radius: 40px;
  background-color: #fff;
  padding: 2%;
  border: 1px solid #1f1f11;
  font-size: 0.85rem;
  font-weight: 550;
  margin-top: 5%;
  white-space: nowrap;
  width: 40%;
  cursor: pointer;
}
.playlist_btn:hover {
  scale: 1.05;
}
.playlist_btn_r {
  display: none;
}
@media (max-width: 1220px) {
  .playlist_btn_r {
    display: block;
  }
}
@media (max-width: 1220px) {
  .playlist_btn_r1 {
    display: none;
  }
}

.footer {
  position: absolute;
  bottom: 0;
}
.footer_legal {
  padding: 8% 0% 0% 4%;
  font-size: 0.75rem;
  line-height: 2;
}
.footer_legal_span {
  padding: 2%;
  color: rgba(234, 248, 239, 0.5607843137);
  cursor: pointer;
}
.footer_legal_Cookie {
  color: #fff;
  padding: 0% 2% 0% 2%;
  font-size: 0.82rem;
  cursor: pointer;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
  width: 15%;
}
.footer_legal_Cookie:hover {
  text-decoration: underline;
}
.footer_language {
  padding: 8% 4%;
}
.footer_language_btn {
  color: #fff;
  background-color: #1f1f1f;
  border: 0.5px solid rgba(234, 248, 239, 0.5607843137);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  gap: 6px;
  font-weight: 700;
  font-size: 0.84rem;
  padding: 2% 5% 2% 5%;
  cursor: pointer;
  transition: border 0.3s ease;
}
.footer_language_btn:hover {
  border: 0.5px solid #fff;
  scale: 1.05;
}
.footer_language_btn_svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.content {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  overflow: hidden;
  padding: 3%;
  background-image: linear-gradient(#1f1f1f, #101010);
}
.content:hover {
  overflow-y: auto;
}
.content::-webkit-scrollbar {
  background-color: transparent;
  width: 0.9dvw;
}
.content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.363);
}
.content_tittle {
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  display: inline-flex;
  margin-bottom: 0.5%;
}
.content_tittle_h2 {
  cursor: pointer;
}
.content_tittle_h2:hover {
  text-decoration: underline;
}
.content_ctnrCards {
  height: 34.35dvh;
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin-bottom: 5%;
  position: relative;
}
.content_ctnrCards:hover .nav_arrow {
  opacity: 1;
}

.card {
  height: 34.6dvh;
  width: 12.3dvw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.8%;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  padding: 0% 5%;
}
.card:hover {
  background-color: rgba(51, 51, 51, 0.4941176471);
}
.card:hover .card_btnplay {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 1300px) {
  .card {
    width: 188.75px;
  }
}
.card_img {
  width: 11dvw;
  height: 24dvh;
  border-radius: 8px;
}
@media (max-width: 1300px) {
  .card_img {
    width: 168.75px;
  }
}
.card_img--imgartist {
  border-radius: 50%;
}
.card_tittle {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
.card_tittle:hover {
  text-decoration: underline;
}
.card_artist {
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 0.9rem;
  font-weight: 400;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
.card_artist:hover {
  text-decoration: underline;
}
.card_btnplay {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 65%;
  top: 53%;
  background-color: #1fc30d;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.card_btnplay_img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.nav_arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  right: 13%;
  bottom: 30%;
  border: none;
  cursor: pointer;
  opacity: 0;
}
@media (max-width: 1285px) {
  .nav_arrow {
    right: 320px;
  }
}
@media (max-width: 1150px) {
  .nav_arrow {
    right: 500px;
  }
}
@media (max-width: 950px) {
  .nav_arrow {
    right: 630px;
  }
}
@media (max-width: 800px) {
  .nav_arrow {
    right: 720px;
  }
}
@media (max-width: 708px) {
  .nav_arrow {
    right: 780px;
  }
}
@media (max-width: 645px) {
  .nav_arrow {
    right: 825px;
  }
}
@media (max-width: 600px) {
  .nav_arrow {
    right: 850px;
  }
}
@media (max-width: 575px) {
  .nav_arrow {
    right: 890px;
  }
}
@media (max-width: 530px) {
  .nav_arrow {
    right: 930px;
  }
}
@media (max-width: 500px) {
  .nav_arrow {
    right: 670px;
  }
}
@media (max-width: 470px) {
  .nav_arrow {
    left: 380px;
  }
}
.nav_arrow:hover {
  background-color: #2d2d2d;
}
.nav_arrow:hover .nav_arrow_path {
  fill: #fff;
}
.nav_arrow_svg {
  width: 18px;
  height: 18px;
}
.nav_arrow_path {
  fill: rgba(255, 255, 255, 0.5607843137);
}

@media (max-width: 500px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}

.ad_footer {
  background-image: linear-gradient(to right, #c5107f, #58bae4);
  width: 100dvw;
  height: 70px;
  margin: 0.5% 0%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .ad_footer {
    display: none;
  }
}
.ad_footer .containerAd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  padding: 1.5%;
}
.ad_footer .containerAd_text {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.ad_footer .containerAd_text_tittle {
  font-size: 0.88rem;
  font-weight: 550;
}
.ad_footer .containerAd_text_span {
  font-size: 1rem;
  font-weight: 500;
}
.ad_footer .containerAd_btn {
  background-color: #fff;
  border: none;
  padding: 1.1% 2.5%;
  border-radius: 40px;
  font-size: 0.95rem;
  font-weight: 750;
  cursor: pointer;
}
@media (max-width: 548px) {
  .ad_footer .containerAd_btn {
    padding: 8px 8px;
  }
}
@media (max-width: 536px) {
  .ad_footer .containerAd_btn {
    padding: 4px 2px;
  }
}
.ad_footer .containerAd_btn:hover {
  scale: 1.05;
}

.mobile_footer {
  display: none;
  height: 10dvh;
  width: 100dvw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(73, 73, 73, 0.6));
  align-items: center;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
@media (max-width: 500px) {
  .mobile_footer {
    display: flex;
  }
}

.homebtn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}
.homebtn_svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.searchbtn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}
.searchbtn_svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.librarybtn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  white-space: nowrap;
}
.librarybtn_svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.Premiumbtn {
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
}
.Premiumbtn_img {
  width: 28px;
  height: 28px;
}

header {
  margin-bottom: -1.5%;
}

.containergrid {
  display: grid;
  grid-template-columns: minmax(282px, 29dvw) auto;
  height: 80dvh;
  gap: 0.5%;
  padding: 0% 0.5% 0% 0.5%;
  position: relative;
}
@media (max-width: 500px) {
  .containergrid {
    display: flex;
    height: 90dvh;
  }
}
.containergrid_item {
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */